body {
  margin: 5%;
}

div {
  display: flex;
  border: 4px solid rgb(39, 39, 45);
  border-right: 7px solid lightgrey;
}

ul {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: center;
}
ul li {
  padding: 6px;
}
